@model IEnumerable<Labb_Webshop.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<div class="container-fluid" id="shopList">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 float-left">
            <div class="product">
                <div class="ShopImage" style="background-image:url(@item.ImagePath);"></div>
                <div class="text-center">
                    @Html.DisplayFor(modelItem => item.Name) <br />
                    @Html.DisplayFor(modelItem => item.Description) <br />
                    @Html.DisplayFor(modelItem => item.Price) kr <br />
                    @Html.ActionLink("Add to cart", "AddToCard", "Shop", new { Id = item.Id }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
</div>
